@charset "utf-8";



@media screen and (max-width:1670px) {
    #header {
        position: fixed;
        left: 10%;
        right: 10%;
        top: 0;
        z-index: 9999;
    }
}

@media screen and (max-width:1227px) {
    #header {
        position: fixed;
        left: 2%;
        right: 2%;
        top: 0;
        z-index: 9999;
    }
}

@media screen and (max-width:1026px) {
    #header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999;
    }
}


@media screen and (max-width:992px) {


    #header {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0;
        padding: 0px 0px;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.8);
    }


    /* 로고 */
    #header #navGroup>a {
        float: none;
        padding: 15px 10px;
        transform: translateY(0px);
        display: inline-block;
    }

    /* 네비게이션 센터 */
    #header #navGroup .nav {
        float: none;
        padding-left: 0;
        margin: auto 0;
        height: auto;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    #header #navGroup .nav>.depth1 {
        display: block;
    }



    #navGroup .nav>.depth1>li {
        float: none;
        width: 100%;
        padding-bottom: 0px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        line-height: 1em;
        position: relative;
        cursor: pointer;
    }

    #navGroup .nav>.depth1>li>a {
        display: block;
        margin: 0;
        border-right: 0px solid rgba(255, 255, 255, 0.35);
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: rgba(255, 255, 255, 0.45);
        border-top: solid 1px rgba(255, 255, 255, 0.15);
        border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    }

    #navGroup .nav>.depth1>li>a.on {
        color: rgba(255, 255, 255, 0.9);
    }

    #navGroup .nav>.depth1>li .depth2 {
        display: none;
        position: static;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        padding: 0px 0px;
        transition: all 0s;
        transform: translateX(0px);
    }



    #navGroup .nav>.depth1>li .depth2>li a {
        display: block;
        padding: 9px 5px;
        font-size: 13px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.9);
        transition: all .4s;
        border-bottom: 0px solid rgba(255, 255, 255, 0.2);
    }

    #navGroup .nav>.depth1>li .depth2>li.on a {
        color: rgba(255, 255, 255, 0.45);
    }


    /* 네비게이션 상단 */
    #navGroup .nav2 {
        float: none;
        text-align: right;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 0px;
        padding-right: 10px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    }

    #navGroup .nav2>.depth1>li {
        display: inline-block;
    }

    #navGroup .nav2>.depth1>li>a {
        text-align: center;
        border-bottom: 0px solid rgba(255, 255, 255, 0.35);
        border-right: 1px solid rgba(255, 255, 255, 0.35);
        padding: 0px;
        padding-right: 5px;
        display: inline-block;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 100;
        font-size: 11px;
    }

    /* 창 열기 닫기 */
    #header .open {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        z-index: 99;
        cursor: pointer;
        color: white;
        font-size: 25px;
        padding: 5px 5px;
    }

    #header .close {
        display: none;
        position: absolute;
        top: 55px;
        right: 18px;
        z-index: 99;
        cursor: pointer;
        color: white;
        font-size: 25px;
        padding: 5px 5px;
    }

    /* footer 구역 */

    #footer .bottom_menu1 li a {
        font-size: 12px;
        display: block;
        padding: 1px 5px;
        border-right: none;
    }

    #footer .bottom_menu2 {
        content: '';
        display: block;
        clear: both;
        max-width: 1170px;
        margin: 0 auto;
        font-size: 13px;
        padding: 35px 0 60px;
    }

    #footer .bottom_menu2 .address {
        float: left;
        width: 100%;
        padding: 0 15px;
        line-height: 2;
        text-align: center;
    }


    #footer .bottom_menu2 .sns {
        float: left;
        width: 100%;
        text-align: center;
    }

    #footer .bottom_menu2 .address span {
        display: block;
    }

    #footer .bottom_menu2 .sns .sns_content {
        display: inline-block;
        text-align: center;
        padding-right: 15px;
        margin-top: 25px;
    }





}