@media screen and (max-width:1133px) {

    /* article4 구역 */

    .article4 .left {
        position: relative;
        float: left;
        overflow: hidden;
        width: 50%;
        height: 575px;
    }

    .article4 .row .content {
        position: relative;
        display: block;
        vertical-align: top;
        padding: 0 15px;
    }

    .article4 .row .content1 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-right: 40px;
    }

    .article4 .row .content2 {
        width: 100%;
    }

    .article4 .row .content3 {
        width: 100%;
    }

    .article4 .row .content4 {
        margin-top: 30px;
        width: 100%;
    }

    .article4 .content2 .go,
    .article4 .content3 .go {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 999;
        height: 25px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }


    /* .article5 구역 */
 

}

@media screen and (max-width:992px) {

    /* article1 구역 */
    #section .article1 .slide_g .slide {
        position: relative;
        height: 436px;
    }

    #section .article1 .slide_g .slide_title {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 50px;
        width: 834.5px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgba(255, 255, 255, 0.65);
        z-index: 99999;
    }

    #section .article1 .slide_g .slide_title h1 {
        transform: translateX(0px);
        font-size: 57px;
        font-weight: 500;
        letter-spacing: 10px;
        opacity: 0;
        transition: all 2s;
    }
    
    #section .article1 .slick-slide.slick-current.slick-active .slide_title h1 {
        transform: translateX(0px);
        opacity: 1;
    }
    
    
    
    #section .article1 .slide_g .slide_title h2 {
        transform: translateX(0px);
        font-size: 17px;
        margin: 10px 0;
        opacity: 0;
        transition: all 2s;
    }
    
    #section .article1 .slick-slide.slick-current.slick-active .slide_title h2 {
        transform: translateX(0px);
        opacity: 1;
    }
    
    
    #section .article1 .slide_g .slide_title p {
        display: none;
    }
   


    .article1 .slick-arrow .fa-solid {
        display: none;
    }



    /* .article2 구역 */
    .article2 .content_g li {
        display: inline-block;
        float: left;
        width: 50%;
        padding: 0 15px;
    }

    .article2 .content_g .content_title h2 {
        display: inline-block;
        color: #A6A6A6;
        line-height: 1;
        font-size: 26px;
        border-bottom: solid 1px #D9D9D9;
        padding: 0 10px 17px;
    }

    .article2 .content_g .content_title span {
        display: block;
        color: #B2B2B2;
        font-size: 15px;
        font-weight: 600;
        padding: 17px 0 0 0;
        border-left: none;
        line-height: 1.3;
    }

    /* article4 구역 */

    .article4 .content2 {
        border-left: none;
        border-right: solid 1px #dedede;
    }
    

    /* article5 구역 */

    .article5 .last_slide_g .last_slide {
        overflow: hidden;
        padding: 80px 50px;
        font-size: 0;
    }

    .article5 .last_slide_g .last_slide .text {
        display: block;
        padding: 0px;
        float: left;
        width: 100%;
    }

    .article5 .last_slide_g .last_slide .text div:last-child {
        text-align: right;
    }

    .article5 .last_slide_g .last_slide .img {
        display: block;
        float: left;
        height: 309px;
        margin-top: 50px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .article5 .slick-arrow .fa-solid {
        display: none;
    }




    @media screen and (max-width:768px) {

        /* .article1 구역 */
        #section .article1 .slide_g .slide {
            position: relative;
            height: 380px;
        }


        #section .article1 .slide_g .slide_title h1 {
            font-size: 40px;
            font-weight: 500;
            letter-spacing: 0;
            opacity: 0;
            transition: all 2s;
        }
        
        #section .article1 .slick-slide.slick-current.slick-active .slide_title h1 {
            opacity: 1;
        }
    
        
        /* .article2 구역 */
        .article2 .content_g li {
            display: block;
            float: left;
            width: 100%;
            padding: 0 15px;
        }

        /* article4 구역 */

        .article4 .left {
            position: relative;
            float: left;
            overflow: hidden;
            width: 100%;
            height: 487px;
        }

        .article4 .right {
            float: right;
            overflow: hidden;
            width: 100%;
        }

        

        .article4 .row .content {
            display: block;
            vertical-align: top;
            padding: 0 15px;
        }

        .article4 .row .content1 {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            padding-right: 40px;
        }

        .article4 .row .content2 {
            position: absolute;
            top: 240px;
            width: 100%;
        }

        .article4 .content2 {
            border-left: none;
            border-right: none;
        }

        .article4 .row .content3 {
            width: 100%;
            margin-top: 20px;
        }

        .article4 .row .content4 {
            margin-top: 30px;
            width: 100%;
        }


        .article4 .content2 .con,
        .article4 .content3 .con {
            margin-top: 10px;
            border: solid 1px #dedede;
            padding: 16px 20px;
            color: #666;
            text-align: center;
            transition: all .4s;
        }

        .article4 .content2 .con>div img,
        .article4 .content3 .con>div img {
            margin-top: -20%;
            transform: scale(1);
            transition: all .4s;
            width: 100%;
        }



        .article4 .content4 .box {
            margin-top: 40px;
            border: 1px solid #dbdbdb;
            padding: 15px 15px 19px;
            min-height: 202px;
            text-align: center;
        }

        .article4 .content2 .con div,
        .article4 .content3 .con div {
            position: relative;
            height: 91px;
        }







    }
}